.esri-widget--button.active,
.esri-widget--button.active:hover,
.esri-widget--button.active:focus {
  cursor: default;
  background-color: #999696;
}
.esri-widget--button.active path,
.esri-widget--button.active:hover path,
.esri-widget--button.active:focus path {
  fill: #e4e4e4;
}

.screenshotCursor {
  cursor: crosshair;
}

/* start editor */
.esri-editor {
  max-height: 425px !important;
}
/* end editor */

/* start loading overlay */
._loading_overlay_content {
  top: 45%;
  left: 50%;
  position: fixed;
}
/* end loading overlay */
