.esri-widget--button.active,
.esri-widget--button.active:hover,
.esri-widget--button.active:focus {
  cursor: default;
  background-color: #999696;
}
.esri-widget--button.active path,
.esri-widget--button.active:hover path,
.esri-widget--button.active:focus path {
  fill: #e4e4e4;
}

.screenshotCursor {
  cursor: crosshair;
}

/* start editor */
.esri-editor {
  max-height: 425px !important;
}
/* end editor */

/* start loading overlay */
._loading_overlay_content {
  top: 45%;
  left: 50%;
  position: fixed;
}
/* end loading overlay */

/* form style */
.sidebar-icon-only .simulasi-map-form {
  display: none !important;
}
/* end form style */

/* start hide popup */
.esri-popup--is-docked-top-left .esri-popup__main-container,
.esri-popup--is-docked-top-right .esri-popup__main-container,
.esri-popup--is-docked-bottom-left .esri-popup__main-container,
.esri-popup--is-docked-bottom-right .esri-popup__main-container {
  display: none;
}
.esri-view-width-xsmall .esri-popup--is-docked-top-center .esri-popup__main-container,
.esri-view-width-xsmall .esri-popup--is-docked-bottom-center .esri-popup__main-container {
  display: none;
}
/* end hide popup */

/* start fadein */
.fade-in {
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* end fadein */
