.esri-widget--button.active,
.esri-widget--button.active:hover,
.esri-widget--button.active:focus {
  cursor: default;
  background-color: #999696;
}
.esri-widget--button.active path,
.esri-widget--button.active:hover path,
.esri-widget--button.active:focus path {
  fill: #e4e4e4;
}

.screenshotCursor {
  cursor: crosshair;
}

/* start editor */
.esri-editor {
  max-height: 425px !important;
}
/* end editor */

/* start loading overlay */
._loading_overlay_content {
  top: 45%;
  left: 50%;
  position: fixed;
}
/* end loading overlay */

/* form style */
.sidebar-icon-only .simulasi-map-form {
  display: none !important;
}
/* end form style */

/* start hide popup */
.esri-popup--is-docked-top-left .esri-popup__main-container,
.esri-popup--is-docked-top-right .esri-popup__main-container,
.esri-popup--is-docked-bottom-left .esri-popup__main-container,
.esri-popup--is-docked-bottom-right .esri-popup__main-container {
  display: none;
}
.esri-view-width-xsmall
  .esri-popup--is-docked-top-center
  .esri-popup__main-container,
.esri-view-width-xsmall
  .esri-popup--is-docked-bottom-center
  .esri-popup__main-container {
  display: none;
}
/* end hide popup */

/* start fadein */
.fade-in {
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* end fadein */

/* start table in popup */
.table th,
.jsgrid .jsgrid-table th,
.table td,
.jsgrid .jsgrid-table td {
  white-space: normal;
}
/* end table in popup */

/* start popup sebelumsesudah */
div.switch-sebelum-sesudah {
  background-color: #4a49ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: min-content; */
  font-family: sans-serif;
  padding: 1rem 0 0.6rem;
}

div.segementation-container {
  color: #fff;
  font-size: 12px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.4rem 0;
}

.switch-button {
  background: rgba(50, 49, 126, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 240px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  position: relative;
  padding-right: 120px;
  position: relative;
}
.switch-button:before {
  content: "Sebelum";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}
.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(120px);
  transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 10px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #98bdeb;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

.switch-button-small {
  background: rgba(50, 49, 126, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 40px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  position: relative;
  padding-right: 20px;
  position: relative;
}
.switch-button-small:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}
.switch-button-small-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.switch-button-small-checkbox:checked + .switch-button-small-label:before {
  background: #57b657;
  content: "";
  transform: translateX(20px);
  transition: transform 300ms linear;
}
.switch-button-small-checkbox + .switch-button-small-label {
  position: relative;
  padding: 10px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}
.switch-button-small-checkbox + .switch-button-small-label:before {
  content: "";
  background: #a3a4a5;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch-button-small-checkbox
  + .switch-button-small-label
  .switch-button-small-label-span {
  position: relative;
}
/* end popup sebelumsesudah */
.historyButton {
  position: absolute;
  bottom: 20px;
  right: 15px;
}
.historyList {
  border-left: 1px solid #ced4da;
  display: block;
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 350px;
  /* minHeight: 100%; */
  background: #f8fafc;
}
div.historyListDesc {
  background-color: #282f3a;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  color: rgb(255 255 255 / 90%);
  padding: 1rem;
}
.ulHistoryList{
  background-color: #f3f3f3;
}
.liHistoryList{
  padding: 1rem;
  margin: 0.75rem;
  background-color: #ffffff;
  border-radius: 5px;
}
